@model MyFYP.WebUI.Models.RegisterViewModel
@{
    ViewBag.Title = "Register For An Account";
}

<link href="~/Content/font-awesome-4.7.0/css/font-awesome.css" rel='stylesheet' type='text/css' />

<centre>
    <h2 align="center" style="color:red">@ViewBag.Title</h2>
    @*<h1> <img src="/App_Start/Images/Logo.png" width="90"/></h1>*@
</centre>



@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="col-md-2 control-label">Email</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            <br />
            <div class="form-group col-md-6" style="visibility:hidden">
                <label class="col-md-2 control-label" style="visibility:hidden">Password</label>
                @*@Html.PasswordFor(m => m.Password, new { @class = "form-control" })*@
            </div>

            <div class="form-group col-md-6">
                <label class="col-md-2 control-label">Password</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>

            <div class="form-group col-md-6">
                <label class="col-md-2 control-label">Confirm</label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>

            <div class="form-group col-md-6">
                <label class="col-md-2 control-label">Name</label>
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>

            <div class="form-group col-md-6">
                <label class="col-md-2 control-label">Surname</label>
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>

            <div class="form-group col-md-6">
                <label class="col-md-2 control-label">Street</label>

                @Html.TextBoxFor(m => m.Street, new { @class = "form-control" })

            </div>

            <div class="form-group col-md-6">
                <label class="col-md-2 control-label">City</label>

                @Html.TextBoxFor(m => m.City, new { @class = "form-control" })

            </div>

            <div class="form-group col-md-6">
                <label class="col-md-2 control-label">County</label>

                @Html.TextBoxFor(m => m.State, new { @class = "form-control" })

            </div>

            <div class="form-group col-md-6">
                <label class="col-md-2 control-label">Eircode</label>

                @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control" })

            </div>

            <div class="form-group col-md-6" style="visibility:hidden">

                <input type="submit" class="btn btn-success" value="Register" />

            </div>

            <div class="form-group col-md-6">

                <label style="visibility:hidden" class="col-md-2 control-label">Continue </label>
                <input type="submit" class="btn btn-success" value="Register" />

            </div>
        </div>
    </form>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
